<div class="main">
  <div class="left">
    <div class="characterBox mat-elevation-z2"
        *ngFor="let character of allCharacters | async; trackBy:('characterId' | trackByProperty)">
      <character-card (click)="zoom($event, character)" [character]="character"
          [campaign]="campaign">
      </character-card>
      <button mat-raised-button (click)="defend($event, character)"
          color="accent">
        Defend
      </button>
      <button mat-raised-button (click)="noncombat($event, character)"
          color="accent">
        Noncombat
      </button>
    </div>
  </div>
  <div class="right">
    <div class="actions">
      <button mat-raised-button (click)="initiative($event)"
          color="accent">Initiative</button>
    </div>
    <div class="right">
      <message *ngFor="let message of messages | async" [message]="message">
      </message>
    </div>
  </div>
</div>