<div class="main">
  <div class="left">
    <div *ngFor="let character of allCharacters | async; trackBy:trackById">
      <character-card (click)="zoom($event, character)" [character]="character"
          [campaign]="campaign">
      </character-card>
      <button mat-raised-button (click)="defend($event, character)"
          color="accent">Defend</button>
    </div>
  </div>
  <div class="right">
    <div class="actions">
      <button mat-raised-button (click)="initiative($event)"
          color="accent">Initiative</button>
    </div>
    <div class="right">
      <div *ngFor="let roll of rolls | async">
        {{ roll | json }}
      </div>
    </div>
  </div>
</div>