@import '../../../../variables.scss';

.main {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 0 0 500px;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.openCharacter {
  background-color: lighten($accent, 65%);
}
