<div class="playerCard">
  <div class="nameRow">
    <div class="name">
      {{ character.name }}
    </div>
  </div>
  <div class="characterBody">
    <div class="attributes" *ngIf="character.type !== 'nonplayer'">
      <div *ngFor="let attribute of character.attributes | keyvalue"
          class="attribute">
        <div class="attributeName">
          {{attribute.value.name}}:
        </div>
        <div *ngIf="attribute.value.wound">
          <mat-icon color="warn">sentiment_very_dissatisfied</mat-icon>
        </div>
        <div class="attributeContent" *ngIf="!attribute.value.wound">
          <adjust-character min="0" [max]="attribute.value.pool"
              [increment]="-1" [character]="character"
              [path]="'attributes.'+attribute.key+'.current'">
          </adjust-character>
          <div class="pool">
            {{ attribute.value.current }} / {{attribute.value.pool}}
          </div>
          <adjust-character min="0" [max]="attribute.value.pool" [increment]="1"
              [character]="character"
              [path]="'attributes.'+attribute.key+'.current'">
          </adjust-character>
        </div>
      </div>
      <div class="attribute" *ngIf="character.initiative >= 0">
        <div class="attributeName">Initiative:</div>
        <div class="attributeContent">
          <adjust-character min="0" [max]="1000" [increment]="0"
              [character]="character" [path]="'initiative'">
          </adjust-character>
          <div class="pool">{{character.initiative}}</div>
          <adjust-character min="0" [max]="1000" [increment]="1"
              [character]="character" [path]="'initiative'">
          </adjust-character>
        </div>
      </div>
    </div>
    <div
        *ngIf="expanded && character.type !== 'nonplayer' && character.skills?.length > 0">
      <div>Skills</div>
      <div class="skills">
        <div *ngFor="let skill of character.skills" class="skill">
          <div class="skillInfo">
            <div>{{skill.name}}:&nbsp;</div>
            <div style="text-transform: capitalize;">{{skill.level}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>