<div class="playerCard">
  <div class="nameRow">
    <div class="name">
      {{ (character | async)?.name }}
    </div>
    <button mat-icon-button [matMenuTriggerFor]="actionMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <div class="characterBody">
    <div class="attributes"
        *ngIf="(character | async)?.subtype !== 'nonplayer'">
      <div *ngFor="let attribute of (character | async)?.attributes | keyvalue"
          class="attribute">
        <div class="attributeName">
          {{attribute.value.name}}:
        </div>
        <div *ngIf="attribute.value.wound">
          <mat-icon color="warn">sentiment_very_dissatisfied</mat-icon>
        </div>
        <div class="attributeContent" *ngIf="!attribute.value.wound">
          <framesystem-spinner [max]="attribute.value.pool" [min]="0"
              [initial]="attribute.value.current" #attributeSpinner>
          </framesystem-spinner>
        </div>
      </div>
      <div class="attribute">
        <div class="attributeName">Initiative:</div>
        <div class="attributeContent">
          <framesystem-spinner [min]="0"
              [initial]="(character | async)?.initiative">
          </framesystem-spinner>
        </div>
      </div>
    </div>
    <mat-expansion-panel *ngIf="(character | async)?.subtype !== 'nonplayer'">
      <mat-expansion-panel-header>
        <mat-panel-title>Skills</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="skills">
        <div *ngFor="let skill of skills | async" class="skill">
          <div class="skillInfo">
            <div>{{skill.name}}</div>
            <button mat-stroked-button class="skillLevel" color="primary"
                *ngIf="gmOrPlayer | async; else skillLevelOnly"
                (click)="check($event, skill)">
              {{skill.level}}
            </button>
            <ng-template #skillLevelOnly>
              <div class="skillLevel">{{skill.level}}</div>
            </ng-template>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="(character | async)?.equipment.length > 0">
      <mat-expansion-panel-header>
        <mat-panel-title>Equipment</mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let item of (character | async)?.equipment" class="item">
        <div>
          {{item.name}}
        </div>
        <mat-icon [matTooltip]="item|json">info</mat-icon>
      </div>
    </mat-expansion-panel>
  </div>
</div>

<mat-menu #actionMenu></mat-menu>