<div class="main">
  <div class="left">
    <mat-tab-group>
      <mat-tab
          *ngFor="let character of myCharacters | async; trackBy:('characterId' | trackByProperty)">
        <ng-template mat-tab-label>
          {{ character.name }}
        </ng-template>
        <character-card [expanded]="true" [character]="character"
            [campaign]="campaign">
        </character-card>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="right">
    <div class="requiredRoll" *ngFor="let roll of requiredRolls | async">
      <tales-roll-request [roll]="roll"
          [character]="(mappedCharacters | async)[roll.to.characterId]">
      </tales-roll-request>
    </div>
    <message *ngFor="let message of campaignMessages | async"
        [message]="message">
    </message>
  </div>
</div>