.main {
  // height: 100%;
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  overflow-x: auto;
}

.notebook {
  display: flex;
  align-items: center;
  justify-content: stretch;

  // @media (max-width: 500px) {
  //   width: 100%;
  // }
}

.tab {
  width: 100%;
}

.characters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > * {
    margin: 8px;
  }
}

.left {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 0 0 500px;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 1 1 40%;
  max-height: 90vh;
}

.actionRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.chatHistory {
  overflow-y: auto;
}

.presence {
  display: flex;
  flex-direction: row;
}
