<div class="main">
  <mat-tab-group class="left">
    <mat-tab label="Campaign Notes">
      <framesystem-notes [parent]="campaign | async"
          [editable]="playerOrGm | async"></framesystem-notes>
    </mat-tab>
    <mat-tab label="My Characters" *ngIf="(notableCharacters | async).length">
      <mat-tab-group
          *ngIf="(notableCharacters | async).length > 1; else singleton">
        <mat-tab [label]="character.name[0]" *ngFor="let character of notableCharacters | async;
            trackBy:('characterId' | trackByProperty)">
          <framesystem-character-sheet [character]="character">
          </framesystem-character-sheet>
        </mat-tab>
      </mat-tab-group>
      <ng-template #singleton>
        <framesystem-character-sheet
            [character]="(notableCharacters | async)[0]">
        </framesystem-character-sheet>
      </ng-template>
    </mat-tab>
    <mat-tab label="Roll Log">
      <framesystem-roll-result *ngFor="let roll of rolls | async"
          [result]="roll">
      </framesystem-roll-result>
    </mat-tab>
  </mat-tab-group>
  <div class="right">
    <div class="characters">
      <ng-container
          *ngFor="let character of characters | async | sortBy:'initiative':'asc'; trackBy:('characterId' | trackByProperty)">
        <framesystem-character-smallcard [character]="character">
        </framesystem-character-smallcard>
      </ng-container>
    </div>
    <div class="actions" *ngIf="gm | async">
      <button mat-raised-button (click)="initiative($event)" color="accent">
        Initiative
      </button>
      <button mat-raised-button (click)="rest($event)" color="accent">
        Rest
      </button>
      <button mat-raised-button (click)="reset($event)" color="warn"
          class="lastButton">
        Reset
      </button>
    </div>
    <div class="chatHistory" #chatHistory>
      <framesystem-chat-view *ngFor="let msg of chat | async" [msg]="msg">
      </framesystem-chat-view>
    </div>
    <div class="chatCompose">
      <div class="presence">
        <framesystem-person-image [person]="presentUser" [size]="24"
            *ngFor="let presentUser of present | async">
        </framesystem-person-image>
      </div>
      <framesystem-chat-write *ngIf="campaign | async as campaignScalar"
          [campaign]="campaignScalar" [user]="user | async">
      </framesystem-chat-write>
    </div>
  </div>
</div>