<div class="main">
  <div class="left">
    <div class="characterBox mat-elevation-z2"
        *ngFor="let character of characters | async; trackBy:('characterId' | trackByProperty)">
      <character-card [character]="character"> </character-card>
    </div>
  </div>
  <div class="right">
    <div class="requiredRoll" *ngFor="let roll of requiredRolls | async">
      <tales-roll-request [roll]="roll"
          [character]="(mappedCharacters | async)[roll.to.characterId]">
      </tales-roll-request>
    </div>
    <message *ngFor="let message of campaignMessages | async"
        [message]="message">
    </message>
  </div>
</div>