.main {
  // height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 0 auto;
}

.notebook {
  display: flex;
  align-items: center;
  justify-content: stretch;
  width: clamp(300px, 60%, 800px);

  @media (max-width: 500px) {
    width: 100%;
  }
}

.tab {
  width: 100%;
}

.characters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  >* {
    margin: 8px;
  }
}

.left {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 0 0 500px;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 1 1 40%;
  height: 100%;
}

.actionRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.chatHistory {
  overflow-y: auto;
}

.presence {
  display: flex;
  flex-direction: row;
}