.main {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
}

.left {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 0 0 500px;
}

.right {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1 1 auto;
}

.actionRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.characterBox {
  padding: 18px 8px;
  margin: 8px;
}

.chatCompose {
  position: sticky;
  bottom: 0;
  background: #fff;
}

.presence {
  display: flex;
  flex-direction: row;
}
