@import '~@angular/material/theming';

.attribute {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 200px;
}

.attributeName {
  font-weight: 500;
  padding-right: 4px;
  text-transform: capitalize;
  line-height: 1.5em;
}

.dieInput {
  max-width: 60px;
  margin: 4px;
  padding: 4px;
}

.wound {
  color: var(--warn-color);
}

.chosenDie {
  background-color: var(--lightblue);
}

.dangerPool {
  color: var(--warn-color);
}

.roll {
  margin-left: auto;
}
