@use "sass:map";
@import '../../../vars.scss';

.notes {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  flex: 0 1 175px;
}

.listItem {
  width: 90%;
}

.active {
  background-color: map-get($map: $mat-accent, $key: 'lighter');
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
}

.content {
  height: 100%;
  overflow: auto;
  margin: 0 auto;
  padding: 0 12px;
}

.titleRow {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  justify-content: space-between;
  align-items: center;
  margin: 4px 0;
  h1 {
    margin-bottom: 0;
  }
}

.edit {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.action {
  position: absolute;
  bottom: 3px;
  right: 3px;
}

.titleEdit {
  flex: 0 0 auto;
}

.bodyEdit {
  flex: 1 0 auto;
}
