<div class="notes">
  <div class="list">
    <mat-nav-list>
      <mat-list-item *ngFor="let note of list | async" (click)="view(note)"
          class="listItem"
          [class.active]="note?.noteId === (active | async)?.noteId">
        {{note.title}}
      </mat-list-item>
    </mat-nav-list>
    <button mat-button (click)="create()">
      <mat-icon>add</mat-icon>
      <mat-label>Create</mat-label>
    </button>
  </div>
  <div *ngIf="editActive | async; else maybeView" [formGroup]="editState"
      class="edit body">
    <div class="titleRow">
      <mat-form-field appearance="outline" class="titleEdit">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="save($event)">
        <mat-icon>save</mat-icon>
        Save
      </button>
    </div>
    <mat-form-field appearance="outline" class="bodyEdit">
      <mat-label>Note</mat-label>
      <textarea matInput formControlName="content" cdkTextareaAutosize
          cdkAutosizeMinRows="25" cdkAutosizeMaxRows="50"></textarea>
    </mat-form-field>
  </div>
  <ng-template #maybeView>
    <div *ngIf="active | async as note" class="body">
      <div class="titleRow">
        <h1>{{note.title}}</h1>
        <button mat-flat-button color="primary" (click)="edit($event)">
          <mat-icon>edit</mat-icon>
          Edit
        </button>
      </div>
      <div markdown class="longform content" [data]="note.content"></div>
    </div>
  </ng-template>
</div>