<h1>{{ name | async }}</h1>
<div>{{ description | async }}</div>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Player Characters
    </mat-panel-title>
  </mat-expansion-panel-header>
  <character-sheet *ngFor="let character of playerCharacters | async"
      [character]="character">
  </character-sheet>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Nonplayer Characters
    </mat-panel-title>
  </mat-expansion-panel-header>
  <character-sheet *ngFor="let character of nonplayerCharacters | async"
      [character]="character">
  </character-sheet>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Companions
    </mat-panel-title>
  </mat-expansion-panel-header>
  <character-sheet *ngFor="let character of companions | async"
      [character]="character">
  </character-sheet>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Rolls needing attention
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div *ngFor="let roll of rollsNeedingAttention | async">
    {{roll.skills}}
  </div>
</mat-expansion-panel>