<firebase-ui (signInSuccessWithAuthResult)="callback($event)"
    (signInFailure)="callback($event)" (uiShown)="callback()">
</firebase-ui>

<button (click)="logout()">log out</button>


<!-- <div class="signup">
  <form [formGroup]="passwordForm" class="loginForm"
      *ngIf="authAction | async as action">
    <div *ngIf="action !== 'create'">Please log in.</div>
    <div *ngIf="action === 'create'">Creating an account</div>
    <div class="manual"
        *ngIf="action === 'create' || action === 'login' || action === 'reset'">
      <mat-form-field>
        <mat-label>email</mat-label>
        <input matInput formControlName="username" type="email" required>
      </mat-form-field>
      <mat-form-field *ngIf="action !== 'reset'">
        <input matInput placeholder="Password"
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password" required
            (keyup.enter)="loginWithPassword()">
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">
          {{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <div class="buttonRow">
        <button mat-flat-button (click)="signup()" type="submit"
            [disabled]="passwordForm.invalid" *ngIf="action === 'create'"
            color="primary">
          Create
        </button>
        <button mat-flat-button (click)="resetPassword()"
            [disabled]="passwordForm.get('username').invalid"
            *ngIf="action === 'reset'" color="primary">
          Reset Password
        </button>
        <button mat-flat-button (click)="offerReset()" color="warn"
            [disabled]="passwordForm.get('password').value.length > 0"
            *ngIf="action === 'login'">
          Reset Password
        </button>
        <button mat-flat-button (click)="loginWithPassword()" type="submit"
            [disabled]="passwordForm.invalid" *ngIf="action === 'login'"
            color="primary">
          Log In
        </button>
      </div>
    </div>
    <button mat-stroked-button (click)="emailCreate()"
        *ngIf="action === 'choose'">
      Create account with email.
    </button>
    <button mat-stroked-button (click)="emailAuth()"
        *ngIf="action === 'choose'">
      Log in with your email.
    </button>
    <button mat-stroked-button (click)="loginWithGoogle()"
        *ngIf="action === 'choose'">
      <img src="/assets/g-logo.png" class="loginIcon" alt="Google Logo">
      Log in with Google.
    </button>
  </form>
</div> -->