<div>
  <div>{{ (character | async)?.name }}</div>
  <div>{{ (character | async)?.description }}</div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Attributes
      </mat-panel-title>
    </mat-expansion-panel-header>
    <attributes-block [character]="character"></attributes-block>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Skills
      </mat-panel-title>
    </mat-expansion-panel-header>
    <skill-block [character]="character"></skill-block>
  </mat-expansion-panel>
</div>