<h2 mat-dialog-title>
  Rolling {{data.roll.type}} for {{data.character.name}}
</h2>
<mat-dialog-content class="dialog" [formGroup]="rollState">
  <div class="modifiers">
    <div class="modifier">
      <div class="label">Target:</div>
      <div *ngIf="target; else notarget" class="value">{{ target }}</div>
      <ng-template #notarget>
        <div class="value">Open</div>
      </ng-template>
    </div>
    <div class="modifier">
      <div class="label">Edge:</div>
      <div class="value">{{ edge }}</div>
    </div>
    <div class="modifier">
      <div class="label">Effective Skill Level:</div>
      <div class="value">{{ effectiveLevel }}</div>
    </div>
    <div class="modifier" *ngFor="let item of data.roll.items; let i = index">
      <div class="label">{{ i === 0 ? 'Items:' : '' }}</div>
      <div class="value">{{ item.name }}</div>
    </div>
    <div *ngIf="attribute" class="modifier">
      <div class="label">
        {{ attribute.name }}:
      </div>
      <div class="wound value" *ngIf="attribute.wound; else unwounded">
        <mat-icon>sentiment_very_dissatisfied</mat-icon>
      </div>
      <ng-template #unwounded>
        <div class="value">
          {{ attribute.edge ? '+'+attribute.edge+' ' : '' }}{{ attribute.current }}
          /
          {{ attribute.pool }}
        </div>
      </ng-template>
    </div>
    <div class="modifier" *ngIf="skill">
      <div class="label">{{ skill.name }}:</div>
      <div class="value">{{ skill.level }}</div>
    </div>
  </div>
  <div *ngIf="step === 'pickSkill'">
    <mat-form-field>
      <mat-label>Select Skill</mat-label>
      <mat-select (selectionChange)="selectSkill($event)">
        <mat-option *ngFor="let skill of skills | skillsort"
            class="skillSelectOption" [value]="skill.skillId">
          {{ skill.name }}: {{ skill.level }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="step === 'pickAttribute'">
    <mat-form-field>
      <mat-label>Select Attribute</mat-label>
      <mat-select (selectionChange)="selectAttribute($event)">
        <mat-option *ngFor="let attribute of attributes"
            [value]="attribute.name" class="attribute">
          {{attribute.name}}: {{ attribute.current }} / {{attribute.pool}}
          {{attribute.edge ? '+'+attribute.edge : ''}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="step === 'chooseRollType'" class="rollChooser">
    <div>Roll automatically or input table dice:</div>
    <button mat-stroked-button color="primary"
        (click)="autoRoll()">Automatic</button>
    <button mat-stroked-button color="primary"
        (click)="manualRoll()">Manual</button>
  </div>
  <div *ngIf="step === 'manuallyRolling'">
    <mat-form-field *ngFor="let d of dice.controls; index as i"
        formArrayName="dice" class="dieInput"
        [class.chosen]="dice.valid && i === chosenDieIndex">
      <mat-label>d12</mat-label>
      <input matInput autocomplete="off" [formControlName]="i"
          inputmode="numeric" type="text" pattern="[0-9]*">
      <mat-error *ngIf="d.invalid">1 - 12</mat-error>
    </mat-form-field>
    <button mat-icon-button (click)="acceptManualRoll()"
        [disabled]="dice.invalid">
      <mat-icon>check</mat-icon>
    </button>
  </div>
  <div *ngIf="step === 'finalizing'">
    <div class="dice">
      <div *ngFor="let d of dice.controls; index as i" formArrayName="dice"
          class="lockedDie" [class.chosen]="dice.valid && i === chosenDieIndex">
        {{d.value}}
      </div>
    </div>
    <button mat-icon-button (click)="decrementEffort()" color="primary"
        class="spinner">
      <mat-icon>remove_circle_outline</mat-icon>
    </button>
    <mat-form-field>
      <mat-label>
        Effort
      </mat-label>
      <input #effortInput matInput type="text" inputmode="numeric" min="0"
          pattern="[0-9]*" formControlName="effort">
      <mat-error *ngIf="effort.invalid">Effort too high</mat-error>
    </mat-form-field>
    <button mat-icon-button (click)="incrementEffort()" color="primary"
        class="spinner">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
    <div>Total:</div>
    <div>
      {{total}}
    </div>
    <button mat-button (click)="finalize()" [disabled]="rollState.invalid">
      Accept
    </button>
  </div>
</mat-dialog-content>