.attribute {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 200px;
}

.attributeName {
  font-weight: 500;
  padding-right: 4px;
  text-transform: capitalize;
  line-height: 1.5em;
}

.skillSelectOption {
  text-transform: capitalize;
}

.dice {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dieInput {
  max-width: 60px;
  border: 1px solid var(--text-accent-color);
  margin: 4px;
  padding: 4px;
  border-radius: 3px;
}

.lockedDie {
  min-width: 48px;
  min-height: 48px;
  text-align: center;
  font-size: 24px;
  line-height: 48px;
  font-weight: 500;
  border: 1px solid var(--text-accent-color);
  margin: 4px;
  padding: 4px;
  border-radius: 3px;
}

.wound {
  color: var(--warn-color);
}

.chosen {
  background-color: var(--accent-lighter-color);
}

.rollChooser {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: stretch;
}

.roll {
  margin-left: auto;
}

.modifiers {
  display: flex;
  flex-direction: column;
}

.modifier {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
