<div class="avatarBlock">
  <div class="avatar">
    <div class="editOverlay" (click)="updateAvatar()" *ngIf="canEdit | async">
      <mat-icon class="editOverlayIcon">edit</mat-icon>
    </div>
    <framesystem-person-image [size]="200" [person]="user | async"
        monogramLength="10">
    </framesystem-person-image>
  </div>
  <div class="info">
    <div class="unverified" *ngIf="unverified | async">
      <mat-toolbar color="warn">
        <h2>Your email is not yet verified.</h2>
      </mat-toolbar>
      <button mat-button (click)="sendVerification()">
        Send verification email
        <mat-icon>email</mat-icon></button>
    </div>
    <ng-container *ngIf="editing.name; then nameEdit; else nameView">
    </ng-container>
    <div class="rollerColumn" *ngIf="canEdit | async">
      <mat-label>Dice Roller Preference</mat-label>
      <mat-radio-group class="rollerGroup"
          (change)="update({type: 'rollPreference' , payload: $event.value})"
          [value]="rollPreference | async">
        <mat-radio-button class="rollerRadio" value="manual">
          Always manual rolls
        </mat-radio-button>
        <mat-radio-button class="rollerRadio" value="automatic">
          Always automatic rolls
        </mat-radio-button>
        <mat-radio-button class="rollerRadio" value="ask">Ask every time
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>

<ng-template #noImg>
  <div class="empty">No Image.</div>
</ng-template>

<ng-template #nameView>
  <div class="infoRow">
    <div class="name">
      {{ name | async }}
    </div>
    <button mat-icon-button *ngIf="canEdit | async"
        (click)="editing.name = true">
      <mat-icon class="editButton">edit</mat-icon>
    </button>
  </div>
</ng-template>

<ng-template #nameEdit>
  <div class="infoRow">
    <mat-form-field>
      <input matInput [value]="name | async" #nameInput
          (keydown.enter)="update({type: 'name', payload: nameInput.value})">
    </mat-form-field>
    <button mat-icon-button
        (click)="update({type: 'name', payload: nameInput.value})">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button (click)="readonly()">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</ng-template>