<div class="avatarBlock" *ngIf="!editing">
  <div class="name">{{ name | async }}</div>
  <div class="avatar">
    <img [src]="url" *ngIf="avatar | async as url; else noImg">
  </div>
  <button mat-button (click)="editing = true">
    <mat-icon>edit</mat-icon><span>Edit</span>
  </button>
</div>

<div class="avatarBlock" *ngIf="editing">
  <div class="name">{{ name | async }}</div>
  <div class="unverified" *ngIf="!(unverified | async)">
    <span>Your email is not yet verified.</span>
    <button mat-button>Send verification email</button>
  </div>
  <div class="avatar">
    <img [src]="url" *ngIf="avatar | async as url; else noImg">
  </div>
  <button mat-button (click)="editing = false">
    <mat-icon>save</mat-icon><span>Save</span>
  </button>
</div>

<div class="actions">
  <h2>Campaigns:</h2>
  <ul>
    <li *ngFor="let campaign of campaigns | async">
      <a [routerLink]="['/campaigns', campaign.campaignId]">
        {{ campaign.name }}
      </a>
    </li>
  </ul>
  <button mat-button *ngIf="canCreate | async">
    <mat-icon>add</mat-icon><span>Create Campaign</span>
  </button>
</div>

<button mat-raised-button (click)="logout()" color="primary">
  <mat-icon>logout</mat-icon> Log Out
</button>
<ng-template #noImg>
  <div class="empty">No Image.</div>
</ng-template>