<div class="dialogContent">
  <h1 mat-dialog-title>Trigger Initiative</h1>
  <div class="dialogBody" mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Modifier: Assets / Hindrances</mat-label>
      <input matInput [formControl]="assets" type="text" autocomplete="disabled"
          inputmode="numeric" />
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="buttonRow">
    <button mat-raised-button [matDialogClose]="false">Cancel</button>
    <button mat-raised-button color="primary" (click)="ok()" cdkFocusInitial>
      Ok
    </button>
  </div>
</div>