@mixin dialogContent {
  display: flex;
  flex-direction: column;
  min-width: 40vw;
}

@mixin dialogBody {
  display: flex;
  flex-direction: column;
}

@mixin buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}