<div class="dialog" *ngIf="roll | async as roll">
  <div>Rolling</div>
  <div *ngIf="roll.target === 'open'; else targetValue">Open Difficulty</div>
  <ng-template #targetValue>
    <div>Target: {{roll.target}}</div>
  </ng-template>
  <div *ngIf="!roll.skill">
    <div>Select Skill to Roll</div>
    <div *ngFor="let skill of skills | async" (click)="selectSkill(skill)">
      {{skill.name}}:
      {{skill.levelName}}</div>
  </div>
  <div *ngIf="roll.skill && !roll.attribute">
    <div>Select Attribute</div>
    <div *ngFor="let attribute of attributes | async" class="attribute"
        (click)="selectAttribute(attribute)">
      <div class="attributeName">
        {{attribute.name}}:
      </div>
      <div class="wound" *ngIf="attribute.wound; else unwounded">
        <mat-icon>sentiment_very_dissatisfied</mat-icon>
      </div>
      <ng-template #unwounded>
        <div class="currentPool"
            [ngClass]="attribute.current < 2 ? 'dangerPool' : 'okayPool'">
          Pool: {{ attribute.current }}
        </div>
        <div class="maxPool">
          /{{attribute.pool}}
        </div>
        <div class="edge">
          Edge: {{attribute.edge}}
        </div>
      </ng-template>
    </div>
  </div>
  <div *ngIf="roll.attribute && !roll.dice">
    <button mat-button (click)="autoRoll(roll)">RNG</button>
    <button mat-button (click)="manualRoll(roll)">Manual</button>
  </div>
  <div *ngIf="roll.dice && !rolled(roll.dice)">
    <div>Manual Roll Input:</div>
    <input #dieInput mat-input max="12" min="1"
        *ngFor="let die of roll.dice; index as i" type="number" [ngModel]="die"
        (blur)="roll.dice[i] = dieInput.value">
    <button mat-button (click)="setRoll(roll.dice)">Accept</button>
  </div>
  <div *ngIf="roll.dice && rolled(roll.dice)">
    <div>Rolls:</div>
    <div *ngFor="let die of roll.dice">{{ die }}</div>
  </div>
</div>
<!-- 


  <h1 mat-dialog-title>
    <span>Rolling for {{ data.skill.name }}</span>
  </h1>
  <div mat-dialog-content *ngIf="status | async as state; else selecting">
    State: {{ state.state }}
    <div *ngFor="let die of state.dice; index as i">
      <input #dieInput
          *ngIf="state.state === RollState.MANUAL_ROLL; else values" type=number
          mat-input max="12" min="1" [ngModel]="die"
          (blur)="state.dice[i] = dieInput.value">
      <ng-template #values>{{ die }}</ng-template>
    </div>
    <div *ngIf="state.state === RollState.ROLLED">
      <input #poolSelecttype=number mat-input [max]="state.attribute.current"
          min="0" (blur)="state.dice[i] = dieInput.value">
    </div>
    <div class="actions" *ngIf="state.state >= RollState.ATTRIBUTE_SELECTED">
      <button mat-button class="roll" (click)="autoRoll()"
          *ngIf="state.state == RollState.ATTRIBUTE_SELECTED">
        Auto Roll
      </button>
      <button mat-button class="roll" (click)="manualRoll()"
          *ngIf="state.state == RollState.ATTRIBUTE_SELECTED">
        Manual Roll
      </button>
      <button mat-button class="roll" (click)="acceptManual(state.dice)"
          *ngIf="state.state == RollState.MANUAL_ROLL">
        Accept
      </button>
    </div>
  </div>
  <ng-template mat-dialog-content #selecting>
    <div *ngFor="let attribute of data.attributes" class="attribute">
      <div class="attributeName">
        {{attribute.name}}:
      </div>
      <div class="wound" *ngIf="attribute.wound; else unwounded">
        <mat-icon>sentiment_very_dissatisfied</mat-icon>
      </div>
      <ng-template #unwounded>
        <div class="currentPool"
            [ngClass]="attribute.current < 2 ? 'dangerPool' : 'okayPool'">
          Pool: {{ attribute.current }}
        </div>
        <div class="maxPool">
          /{{attribute.pool}}
        </div>
        <div class="edge">
          Edge: {{attribute.edge}}
        </div>
      </ng-template>
      <button mat-icon-button class="roll" (click)="startRoll(attribute)"
          *ngIf="data.skill.attributes.includes(attribute.name) || (attribute.name === 'loyalty' && data.skill.id !== 'healthdefense')">
        <mat-icon>casino</mat-icon>
      </button>
    </div>
  </ng-template> -->