<div class="dialog" [formGroup]="rollState">
  <div>Target: {{data.roll.target}}</div>
  <div *ngIf="skill"> {{skill.name}}</div>
  <div *ngIf="attribute" class="attribute">
    <div class="attributeName">
      {{attribute.name}}:
    </div>
    <div class="wound" *ngIf="attribute.wound; else unwounded">
      <mat-icon>sentiment_very_dissatisfied</mat-icon>
    </div>
    <ng-template #unwounded>
      <div class="currentPool"
          [ngClass]="attribute.current < 2 ? 'dangerPool' : 'okayPool'">
        Pool: {{ attribute.current }}
      </div>
      <div class="maxPool">
        /{{attribute.pool}}
      </div>
      <div class="edge">
        Edge: {{attribute.edge}}
      </div>
    </ng-template>
  </div>
  <div *ngIf="step === 'pickSkill'">
    <div>Select Skill to Roll</div>
    <div *ngFor="let skill of data.skills" (click)="selectSkill(skill)">
      {{skill.name}}: {{skill.levelName}}
    </div>
  </div>
  <div *ngIf="step === 'pickAttribute'">
    <div>Select Attribute</div>
    <div *ngFor="let attribute of attributes" class="attribute"
        (click)="selectAttribute(attribute)">
      <div class="attributeName">
        {{attribute.name}}:
      </div>
      <div class="wound" *ngIf="attribute.wound; else unwounded">
        <mat-icon>sentiment_very_dissatisfied</mat-icon>
      </div>
      <ng-template #unwounded>
        <div class="currentPool"
            [ngClass]="attribute.current < 2 ? 'dangerPool' : 'okayPool'">
          Pool: {{ attribute.current }}
        </div>
        <div class="maxPool">
          /{{attribute.pool}}
        </div>
        <div class="edge">
          Edge: {{attribute.edge}}
        </div>
      </ng-template>
    </div>
  </div>
  <div *ngIf="step === 'chooseRollType'">
    <button mat-button (click)="autoRoll()">RNG</button>
    <button mat-button (click)="manualRoll()">Manual</button>
  </div>
  <ng-container *ngIf="step === 'finalizing'">
    <div>Roll:</div>
    <mat-form-field *ngFor="let d of dice.controls; index as i"
        formArrayName="dice" class="dieInput"
        [class.mat-elevation-z6]="dice.valid && i === chosenDieIndex">
      <mat-label>d12</mat-label>
      <input matInput min="1" max="12" [formControlName]="i" type="number"
          [readonly]="!manuallyRolling">
      <mat-error *ngIf="d.invalid">Between 1 and 12</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="!dice.invalid">
      <mat-label>Effort</mat-label>
      <input #effortInput matInput type="number" min="0"
          formControlName="effort">
      <mat-error *ngIf="effort.invalid">Effort too high</mat-error>
    </mat-form-field>
    <div>Total:</div>
    <div>
      {{die + direction * (effort.value + attribute.edge)}}
    </div>
    <button mat-button (click)="finalize()"
        [disabled]="rollState.invalid">Accept</button>
  </ng-container>
</div>