<div class="rollPanel" *ngIf="roll | async as theRoll">
  <div>
    {{ (roller | async)?.name }}
  </div>
  <div class="skillPanel" *ngIf="rollRequired | async; else nonRoller">
    <button mat-button (click)="skillClick()">
      <mat-icon>casino</mat-icon>
      Roll Requested
    </button>
  </div>
  <ng-template #nonRoller>
    <div *ngIf="theRoll.state === 'requested' || theRoll.state === 'rolled'">
      In Progress
    </div>
    <div *ngIf="theRoll.state === 'finalized'">
      Target: {{ theRoll.target }}, Rolled: {{ theRoll.die }}, Effort:
      {{ theRoll.effort }}, Edge: {{ theRoll.attribute.edge }}, Result:
      {{ theRoll.result }}
    </div>
  </ng-template>
</div>