<div *ngFor="let skill of skillDetails | async" class="skill">
  <div class="skillInfo">
    {{skill.name}}: {{skill.levelName}}
  </div>
  <div class="rollers">
    <button mat-flat-button class="rollButton"
        [ngClass]="skill.attributes.indexOf('might') >= 0 ? 'suggested' : 'unusual'"
        (click)="roll(skill)">
      M
    </button>
    <button mat-flat-button class="rollButton"
        [ngClass]="skill.attributes.indexOf('speed') >= 0 ? 'suggested' : 'unusual'"
        (click)="roll(skill)">
      S
    </button>
    <button mat-flat-button class="rollButton"
        [ngClass]="skill.attributes.indexOf('conviction') >= 0 ? 'suggested' : 'unusual'"
        (click)="roll(skill)">
      C
    </button>
    <button mat-flat-button class="rollButton"
        [ngClass]="skill.attributes.indexOf('focus') >= 0 ? 'suggested' : 'unusual'"
        (click)="roll(skill)">
      F
    </button>
  </div>
</div>