<div *ngFor="let skill of character.skills | keyvalue" class="skill">
  <div class="skillInfo" *ngIf="skillDetails && skillLevels">
    {{skillDetails[skill.key].name}}: {{skillLevels[skill.value]}}
  </div>
  <div
      *ngIf="(auth.user | async)?.uid === gm?.id || character.acl[(auth.user | async)?.uid] === 'admin'">
    <button mat-icon-button [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>casino</mat-icon>
        <span>Roll</span>
      </button>
    </mat-menu>
  </div>
</div>