<mat-expansion-panel class="playerCard">
  <mat-expansion-panel-header hideToggle>
    <div class="nameRow">
      <div class="name">
        {{ character.name }}
      </div>
      <div class="initiative" *ngIf="character.status?.initiative">
        {{ character.status.initiative }}
      </div>
    </div>
  </mat-expansion-panel-header>
  <div class="characterBody">
    <div>
      Player: {{ owner?.name }}
    </div>
    <div>
      {{character.type}}
    </div>
  </div>
</mat-expansion-panel>