<mat-expansion-panel class="playerCard">
  <mat-expansion-panel-header hideToggle>
    <div class="nameRow">
      <div class="name">
        {{ character.name }}
      </div>
      <div class="initiative" *ngIf="character.status?.initiative">
        {{ character.status.initiative }}
      </div>
    </div>
  </mat-expansion-panel-header>
  <div class="characterBody">
    <div>
      Player: {{ owner?.name }}
    </div>
    <attributes-block class="attributes" [character]="character">
    </attributes-block>
    <mat-expansion-panel
        *ngIf="character.type !== 'nonplayer' && (character.skills | keyvalue)?.length > 0">
      <mat-expansion-panel-header>Skills</mat-expansion-panel-header>
      <skill-block class="skills" [character]="character">
      </skill-block>
    </mat-expansion-panel>
  </div>
</mat-expansion-panel>