<mat-expansion-panel class="playerCard">
  <mat-expansion-panel-header hideToggle>
    <div class="nameRow">
      <div class="name">
        {{ character.name }}
      </div>
      <div class="owner"
          *ngIf="owner?.id != (auth.user | async).uid; else itsMe">
        {{ owner?.name }}
      </div>
      <ng-template #itsMe>
        <div class="owner">Me</div>
      </ng-template>
      <div class="initiative" *ngIf="character.status?.initiative">
        {{ character.status.initiative }}
      </div>
    </div>
  </mat-expansion-panel-header>
  {{character.type}}
</mat-expansion-panel>