.longform {
  width: clamp(150px, 90%, 600px);
  font-family: 'Merriweather';
  font-size: 18px;
  display: flex;
  flex-direction: column;

  .hero {
    font-family: 'Abril Fatface';
    font-size: 48px;
    margin-bottom: 12px;
    line-height: 1;
    font-weight: 400;
  }

  h1 {
    margin-bottom: 0;
    margin-top: 24px;
    font-family: 'Merriweather';
    font-weight: 600;
  }

  h2 {
    margin-bottom: 0;
    margin-top: 20px;
    font-family: 'Merriweather';
    font-weight: 600;
  }

  h3 {
    margin-bottom: 0;
    margin-top: 12px;
    font-family: 'Merriweather';
  }

  p {
    margin-top: 8px;
    margin-bottom: 0;
    line-height: initial;
  }
}

.notebook .mat-tab-body-wrapper {
  width: 100%;
}

mat-icon > .mat-badge-content {
  font-family: Roboto;
}
