/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  --lightblue: #9bc4cb;
  --honeydew: #cfebdf;
  --fairy-dark: #5A5475;
  --fairy-light: #F8F8F2;
  --fairy-red: #FF857F;
  --fairy-orange: #E6C000;
}