/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  --lightblue: #9bc4cb;
  --honeydew: #cfebdf;
  --fairy-dark: #5a5475;
  --fairy-light: #f8f8f2;
  --fairy-red: #ff857f;
  --fairy-orange: #e6c000;
}
