<mat-sidenav-container (swipeLeft)="drawer.close()">
  <mat-sidenav class="toc" [mode]="(narrow | async) ? 'over' :'side'"
      [opened]="!(narrow | async)" [fixedInViewport]="true" #drawer>
    <div class="toc-head">
      <button mat-icon-button routerLink="/">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button (click)="drawer.close()"
          *ngIf="!(narrow | async)">
        <mat-icon>push_pin</mat-icon>
      </button>
    </div>
    <div *ngFor="let contentsItem of contents | async" class="toc-item"
        [class.toc-active]="(activeHeaders | async)[contentsItem.index]"
        (click)="scrollTo(contentsItem.index, $event)">
      {{ contentsItem.text }}
    </div>
    <div class="license">
      <div class="copyright">
        &copy; 2020 Eric Eslinger. Some rights reserved.
      </div>
      <div>
        <a href="https://creativecommons.org/licenses/by-nc/4.0/legalcode">
          <img alt="Creative Commons License" src="assets/cc-by-nc.png">
        </a>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content (swipeLeft)="drawer.close()">
    <div class="centerRoot" #scrollRoot (swipeRight)="drawer.open()"
        (swipeLeft)="drawer.close()">
      <div #content markdown class="content" [data]="(page | async)?.content">
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="actions" *ngIf="!(narrow | async) && !drawer.opened">
  <button mat-mini-fab (click)="drawer.open()">
    <mat-icon>menu</mat-icon>
  </button>
</div>