@import '../../core/material/dialog';

.dialogContent {
  @include dialogContent
}

.dialogBody {
  @include dialogBody
}

.buttonRow {
  @include buttonRow
}

.adjusters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.adjuster {
  max-width: 80px;
  padding: 0 9px;
}